<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootstrap Responsive Design</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zide Yang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whatisdcf/">What is DCF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quickdcfcal/">Quick DCF generation and relative file download </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exceltemplate/">excel DCF Template</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="/tutorial/">Step by Step Tutorial</a>
		  </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <h1>Excel DCF Template</h1>
    <p>Download the Excel DCF template to get started:</p>
    <p>
      The following model_template in Excel has three different models: 
    </p>
    <ul>
      <li>
        The first model is a typical <b>DCF model</b> with switches on street-base, conservative case, and optimistic case. 
        For using the model, you need to make your own hypothesis or find out the relative financial data from Bloomberg or Capital IQ or the company's financial statement.
        <br>
        <img src="{{ url_for('static', filename='screenshottemplatedcf.png') }}" alt="Screenshot of the DCF template">
      </li>
      
        <br>
        <br>
        <li>
        The second model is a <b>relative evaluation</b> for the comparable companies. It uses multiples and ratios of trailing and leading to account for a company's value.
        You have to be very careful in selecting the peer companies (using the screen function) or you could also adjust the percentage on variance to get a rational result.
        <br>
        <img src="{{ url_for('static', filename='screenshotrelative.png') }}" alt="Screenshot of the relative evaluation model">
      </li>
      <br>
      <br>
      <li>
        The third model is a <b>benchmark for the relative evaluation</b>. It provides you with insight and visualization of where your target companies stand among the peer and comparable companies.
        <br>
        <img src="{{ url_for('static', filename='screenshotbenchmark.png') }}" alt="Screenshot of the benchmark model">
      </li>
    </ul>
    <br>
    <a href="{{ url_for('download_template') }}" class="btn btn-primary">Download Template</a>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSBmJm" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZ
