<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootstrap Responsive Design</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Zide Yang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/whatisdcf/">What is DCF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quickdcfcal/">Quick DCF generation and relative file download </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exceltemplate/">excel DCF Template</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="/tutorial/">Step by Step Tutorial</a>
		  </li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="container">
      <h1>Below have some good tutorial information of the DCF</h1>
     <p> <li>The first website and tutorial instruction  below comes from <b> WallStreetPrep</b>. It has shown a detailed and complete step by step turtorial and explination showing you how to conduct a dcf analysis</p></li>
      <a class="btn btn-primary" href="https://www.wallstreetprep.com/knowledge/dcf-model-training-6-steps-building-dcf-model-excel/" role=" DCF fromWall Sreet Prep">Get step by step tutorial from Wall Street Prep</a>
      <br>
      <img src="{{ url_for('static', filename='screenshotwallstreetprep.png') }}" alt="Screenshot of the DCF template">
      <br>
      
      <p><li> <b>Lastly</b>, I have provided you a video from one of my favourite <b>Rareliquid</b> whose video is extremelly helpful for the new student who first time deal with the DCF model.
        It provide you a detailed process of how to do the dcf template in excel and you could simply use the model I provided to you follow his video. If you like his video or find his video is particularly useful please subscribe him!
      </li>
      </p>
      <iframe width="1060" height="600" src="https://www.youtube.com/embed/V2gNxCAGAGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </body>